node {
    text-size: 16px;
    fill-color: black;
    size-mode: dyn-size;
    text-alignment: at-right;
}

edge {
    fill-color: #CCC;
}

node.file {
    text-color: #00A;
}

node.import {
    text-color: #A00;
}
